@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PartShop.Pages.UserAdmin.IndexModel
@{
    ViewData["Title"] = "User Administration";
}

<div class="row">
    <div class="h1">ADMINISTRACIÓN DE USUARIO</div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th style="width: 5%;">Id</th>
                    <th style="width: 15%;">Nombres</th>
                    <th style="width: 15%;">Apellidos</th>
                    <th style="width: 20%;">Correo</th>
                    <th style="width: 10%;">Usuario</th>
                    <th style="width: 10%;">Clave</th>
                    <th style="width: 5%;">Tienda</th>
                    <th style="width: 5%;">Rol</th>
                    <th style="width: 5%;">Activo</th>
                    <th style="width: 10%;">Fecha de Registro</th>
                    <th style="width: 10%;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Usuarios.Any())
                {
                    @foreach (var usuario in Model.Usuarios)
                    {
                        <tr>
                            <td>@usuario.IdUsuario</td>
                            <td>@usuario.Nombres</td>
                            <td>@usuario.Apellidos</td>
                            <td>@usuario.Correo</td>
                            <td>@usuario.Usuario1</td>
                            <td>@usuario.Clave</td>
                            <td>@usuario.IdTienda</td>
                            <td>@usuario.IdRol</td>>
                            <td>@(usuario.Activo ? "Si" : "No")</td>
                            <td>@usuario.FechaRegistro.ToString("dd/MM/yyyy")</td>
                            <td style="width: 15%;">
                                <form class="row" method="post">
                                    <input type="hidden" name="idUsuario" value="@usuario.IdUsuario" />
                                    <div class="col-6 col-md-5 mb-2 mb-md-0">
                                        <button asp-page-handler="editarUsuario" class="btn btn-primary btn-sm">Editar</button>
                                    </div>
                                    <div class="col-6 col-md-5">
                                        <button asp-page-handler="borrarUsuario" class="btn btn-danger btn-sm">Borrar</button>
                                    </div>
                               </form>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="text-center" colspan="11">No hay Usuarios registrados.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


    <form method="post" asp-page-handler="guardar">
    <input hidden asp-for="Usuario.IdUsuario" />
    <input hidden asp-for="Usuario.FechaRegistro" />
    <div class="row mt-5">
        <div class="col-6">
            <label for="nombre" class="form-label">Nombres</label>
            <input id="nombre" class="form-control" type="text" asp-for="Usuario.Nombres"/>
        </div>
        <div class="col-6">
            <label for="apellido" class="form-label">Apellidos</label>
            <input id="apellido" class="form-control" type="text" asp-for="Usuario.Apellidos"/>
        </div>
        <div class="col-12">
            <label for="correo" class="form-label">Correo</label>
            <input id="correo" class="form-control" type="text" asp-for="Usuario.Correo"/>
        </div>
        <div class="col-6">
            <label for="usuario" class="form-label">Usuario</label>
            <input id="usuario" class="form-control" type="text" asp-for="Usuario.Usuario1"/>
        </div>
        <div class="col-6">
            <label for="clave" class="form-label">Clave</label>
            <input id="clave" class="form-control" type="password" asp-for="Usuario.Clave"/>
        </div>
        <div class="col-3">
            <label for="idTienda" class="form-label">IdTienda</label>
            <input id="idTienda" class="form-control" type="text" asp-for="Usuario.IdTienda"/>
        </div>
        <div class="col-3">
            <label for="idRol" class="form-label">IdRol</label>
            <input id="idRol" class="form-control" type="text" asp-for="Usuario.IdRol"/>
        </div>
        <div class="form-check col-3">
            <input id="activo" class="form-check-input" type="checkbox" asp-for="Usuario.Activo"/>
            <label for="activo" class="form-check-label">Activo</label>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            <button class="btn btn-success" type="submit">Guardar</button>
        </div>
    </div>
</form>